@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/static/Inter-Regular.ttf);
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/static/Inter-Bold.ttf);
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/static/Inter-ExtraBold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: #fffdfa;
  --color2: #5e607a;
  --color3: #f15d51;
  --color4: #00001a;
  --color5: #e9aa52;
  --color6: #c5c6ce;
}

.text-XXS {
  color: var(--color2);
  font-feature-settings: "clig" off, "liga" off;
  /* Body */
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 173.333% */
}
.text-XXS--alt {
  color: var(--color6);
}

.text-XS {
  color: var(--color4);
  font-feature-settings: "clig" off, "liga" off;
  /* Heading (XS) */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px; /* 133.333% */
}

.text-S {
  color: var(--color1);
  font-feature-settings: "clig" off, "liga" off;
  /* Heading (S) */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px; /* 120% */
}

.text-M {
  color: var(--color6);
  font-feature-settings: "clig" off, "liga" off;
  /* Heading (M) */
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 100% */
}

.text-L {
  color: var(--color5);
  font-feature-settings: "clig" off, "liga" off;
  /* Heading (L) */
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 100% */
}

.text-XL {
  color: var(--color4);
  font-feature-settings: "clig" off, "liga" off;
  /* Heading (XL) */
  font-family: Inter;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 56px; /* 100% */
}

.btn {
  width: 185px;
  height: 48px;
  background-color: var(--color3);
  color: var(--color1);
  border: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 4.375px;
  text-transform: uppercase;
}
.btn:hover {
  cursor: pointer;
  background-color: var(--color4);
}

.page {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 65px;
  justify-content: center;
  align-items: center;
  background-color: var(--color1);
  margin: 100px;
}
@media screen and (max-width: 735px) {
  .page {
    margin: 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1110px;
  height: auto;
}
@media screen and (max-width: 1110px) {
  .header {
    width: 730px;
  }
}
@media screen and (max-width: 735px) {
  .header {
    width: 90vw;
  }
}
@media screen and (max-width: 555px) {
  .header__logo {
    width: 44.977px;
    height: 28px;
    margin-top: 30px;
  }
}

.main-nav {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 555px) {
  .main-nav {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    position: absolute;
    top: 0;
    right: 0;
    width: 256px;
    height: 100vh;
    background-color: var(--color1);
    padding: 24px;
  }
}
.main-nav__link {
  text-decoration: none;
  color: var(--color2);
  font-size: 15px;
  line-height: 26px;
}
.main-nav__link:hover {
  cursor: pointer;
  color: var(--color3);
}
@media screen and (max-width: 555px) {
  .main-nav__link {
    font-size: 18px;
    line-height: 24px;
  }
}
.main-nav__icon {
  display: none;
  width: 40px;
  height: 17px;
  margin-left: auto;
  position: absolute;
  top: 30px;
  right: 20px;
}
@media screen and (max-width: 555px) {
  .main-nav__icon {
    display: inline;
  }
}

.main {
  width: 1110px;
  height: 511px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "img img aside" "header text aside";
}
@media screen and (max-width: 1110px) {
  .main {
    width: 730px;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "img img" "header aside" "text aside";
  }
}
@media screen and (max-width: 730px) {
  .main {
    width: 343px;
    height: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "img" "img" "header" "text" "aside" "aside";
  }
}
.main__img {
  width: 100%;
  height: 100%;
  background-image: url(../images/image-web-3-desktop.jpg);
  background-size: 100% 300px;
  grid-area: img;
}
@media screen and (max-width: 730px) {
  .main__img {
    background-image: url(../images/image-web-3-mobile.jpg);
    background-size: 343px auto;
    background-repeat: no-repeat;
  }
}
.main__header {
  grid-area: header;
}
.main__text {
  grid-area: text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 29px;
}
.main__aside {
  grid-area: aside;
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--color4);
  padding: 32px 24px;
}
.aside__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid var(--color2);
  padding-bottom: 30px;
}
.aside__header:hover {
  cursor: pointer;
  color: var(--color5);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.footer__item {
  width: 350px;
  display: flex;
  gap: 24px;
}
.footer__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer__header:hover {
  cursor: pointer;
  color: var(--color3);
}

/*# sourceMappingURL=style.css.map */
