@use "base";

.page {
  display: flex;
  flex-direction: column;
  gap: 65px;
  justify-content: center;
  align-items: center;
  background-color: var(--color1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__links {
    display: flex;
    gap: 40px;
    text-decoration: none;
  }
}
